*, *::before, *::after{
    box-sizing: border-box;
    position: relative;
}
img{
    max-width: 100%;
    height: auto;
    display: inline-block;
}
ul, ol{
    list-style-type: none;
}
span, a{
    vertical-align: middle;
    display: inline-block;
}
li{
    display: inline-block;
}
a{
    text-decoration: none;
}
p ,div{
    margin-bottom: 0;
}