.logo{
    background-image: url(../images/DOYOGA-logo.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 96px;
    height: 24px;
    display: block;
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
}
.logo-lg{
    background-image: url(../images/DOYOGA-logo.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 144px;
    height: 36px;
    display: block;
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
}
.header-menu{
    height: 50vh;
}
