.reserve-info{
    width: 100%;
}
@media(min-width:768px){
    .reserve-info{
        width: 80%;
    }
}
@media(min-width:992px){
    .reserve-info{
        width: 50%;
    }
}
.gender select{
    width: 65px;
}
.q2>.d-flex{
    flex-direction: column;
}
.q2 .check-box{
    margin-bottom: 16px;
}
.q2 .check-box:nth-last-child(-n+1){
    margin-bottom: 0;
}
@media(min-width:375px){
    .q2>.d-flex{
        flex-direction: row;
    }
    .q2 .check-box{
        width: 33.333%;
    }
    .q2 .check-box:nth-last-child(-n+3){
        margin-bottom: 0;
    }
}
.q3>.d-flex{
    flex-direction: column;
}
.q3 .radio-box{
    margin-bottom: 16px;
    width: 50%;
}
.q3 .radio-box:nth-last-child(-n+1){
    margin-bottom: 0;
}
@media(min-width:375px){
    .q3>.d-flex{
        flex-direction: row;
    }
    .q3 .radio-box:nth-last-child(-n+2){
        margin-bottom: 0;
    }
}