//scroller-bar
.invisible-scrollbar::-webkit-scrollbar{
    display: none;
}

// images
.image{
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border: 0;
}

//info
.info{
    color: $primary;
}
.info li{
    color: $primary;
    margin-bottom: 4px;
}
.info li:nth-last-child(1){
    margin-bottom: 0;
}