// icon-btn-group
.icon-btn-group-h{
    display: flex;
}
.icon-btn-group-v{
    display: flex;
    flex-direction: column;
}
.icon-btn-item-sm-e{
    margin-left: 8px;
}
.icon-btn-item-sm-e:nth-child(1){
    margin-left: 0;
}
.icon-btn-item-md-s{
    margin-right: 20px;
}
.icon-btn-item-md-s:nth-last-child(1){
    margin-right: 0;
}
.icon-btn-item-lg-t{
    margin-bottom: 8px;
}
.icon-btn-item-lg-t:nth-last-child(1){
    margin-bottom: 0;
}
.icon-sm{
    width: 24px;
    height: 24px;
}
.icon-md{
    width: 32px;
    height: 32px;
}
.icon-nm{
    width: 36px;
    height: 36px;
}
.icon-lg{
    width: 40px;
    width: 40px;
}
.icon-xl{
    width: 48px;
    height: 48px;
}