//input-group
.input-group input{
    border-radius: 4px;
}
.input-group button{
    border-radius: 0 4px 4px 0;
}
// radio-box
.radio-box{
    display: flex;
    align-items: center;
}
.radio-box input{
    width: 16px;
    height: 16px;
    appearance: none;
    border: 1px solid $primary;
    border-radius: 50%;
    margin-right: 4px;
}
.radio-box input:checked{
    border: 5px solid $primary;
}
// check-box
.check-box{
    display: flex;
    align-items: center;
}
.check-box input{
    width: 16px;
    height: 16px;
    appearance: none;
    border: 1px solid $primary;
    border-radius: 3px;
    margin-right: 4px;
}
.check-box input:checked{
    border: 5px solid $primary;
}
//input-date
.date-box input{
    display: none;
}
.date-box label{
    display: flex;
    padding: 6px 12px;
    border: 1px solid $primary;
    border-radius: 4px;
    cursor: pointer;
    width: 118px;
    color: $primary;
}
.date-box:checked label{
    border: 3px solid $primary;
}
.date-info p{
    display: inline-block;
}
.date-box .day::before, .date-box .year::before{
    content: '/';
}

//input.select
.input-secondary{
    border:1px solid $secondary;
    border-radius: 4px;
    padding: 6px 12px;
    width: 100%;
    color: $secondary;
}
.input-secondary::placeholder{
    color: $secondary;
}
.select-secondary{
    border:1px solid $secondary;
    border-radius: 4px;
    padding: 6px 12px;
    width: 100%;
    color: $secondary;
    appearance: none;
    background: url("../images/arrow_drop_down_black_24dp.svg") no-repeat right center transparent;
}
.select-secondary option{
    color: $secondary;
}