//list-style
.list-style-num{
    counter-reset:num;
}
.list-style-num li:before{
    counter-increment:num; 
    content:counter(num) '. ';
}
.list-style-dot li::before{
    content: '';
    background: $white;
    display: inline-block;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 16px;
}