//menu-h
.menu-h{
    display: flex;
    align-items: center;
    padding-right: 0;
    padding-left: 0;
    margin-bottom: 0;
}
.menu-h-item{
    padding: 0 16px;
}
//menu-v
.menu-v{
    display: flex;
    flex-direction: column;
    padding-right: 0;
    padding-left: 0;
    margin-bottom: 0;
}
.menu-v-item{
    margin-bottom: 8px;
}
.menu-v-item:nth-last-child(1){
    margin-bottom: 0;
}
//fixed menu
.fixed-menu{
    height: 100vh;
    position: fixed;
    right: 0;
    top: 50%;
    transform: translate(0 -50%);
    z-index: 1000;
}